<footer>
        <div><img src="images/csumb_logo-1.png" alt="CSUMB Logo" width="100px" height="50px"></div>
        <small>CST336 Internet Programmng. &copy; 2025 | Solar System | Built by Mohammed Nasr. All Rights Reserved.<br></small>
        <small><a href="https://www.npmjs.com/package/npm-solarsystem" target="_blank">Solar System npm</a></small>
        <small><a href="https://www.npmjs.com/package/node-fetch" target="_blank">Node fetch npm</a></small>
        <small><a href="https://getbootstrap.com/docs/5.3/components/navbar/" target="_blank">Bootstrap</a></small>
        <small><a href="https://csumb.instructure.com/courses/29832/pages/lab-5-web-apis-and-node-packages?module_item_id=1979708" target="_blank">API's</a></small>
        <small><a href="https://upload.wikimedia.org/wikipedia/commons/0/0c/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png" target="_blank">Mars Image</a></small>
        <small><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Jupiter_OPAL_2024.png/1200px-Jupiter_OPAL_2024.png" target="_blank">Jupiter Image</a></small>
</footer>