<footer>
        <div><img src="images/csumb_logo-1.png" alt="CSUMB Logo" width="100px" height="50px"></div>
        <small>CST336 Internet Programmng. &copy; 2025 | Solar System | Built by Mohammed Nasr. All Rights Reserved.<br></small>
        <small><a href="https://www.npmjs.com/package/express" target="_blank">Express npm</a></small>
        <small><a href="https://www.npmjs.com/package/npm-solarsystem" target="_blank">Solar System npm</a></small>
        <small><a href="https://www.npmjs.com/package/node-fetch" target="_blank">Node fetch npm</a></small>
        <small><a href="https://getbootstrap.com/docs/5.3/components/navbar/" target="_blank">Bootstrap</a></small>
        <small><a href="https://csumb.instructure.com/courses/29832/pages/lab-5-web-apis-and-node-packages?module_item_id=1979708" target="_blank">API's</a></small>
        <small><a href="https://science.nasa.gov/wp-content/uploads/2024/03/pia04304-mars.jpg" target="_blank">Mars Image</a></small>
        <small><a href="https://assets.science.nasa.gov/dynamicimage/assets/science/psd/solar/internal_resources/4204/Jupiter_against_black_background_of_space.jpeg" target="_blank">Jupiter Image</a></small>
        <small><a href="https://assets.science.nasa.gov/dynamicimage/assets/science/psd/solar/2023/09/b/BIG_P_COLOR_2_TRUE_COLOR1_1980.jpg" target="_blank">Pluto Image</a></small>
</footer>