<!DOCTYPE html>
<html lang="en">
<body>

    <h1 class="text-center bg-danger p-5 text-white m-0">The Solar System</h1>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/header.ejs") %>

    <div><img id="randomSpaceImg" src="<%=randomImageURL %>" width="300"></div>

    <%- include("partials/footer.ejs") %>
</body>
</html>