<!DOCTYPE html>
<html lang="en">
<body>

    <h1 class="text-center bg-danger p-5 text-white m-0">The Solar System</h1>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/header.ejs") %>

    <h1 class="text-center bg-danger p-5 text-white m-0">COMING SOON</h1>

    <%- include("partials/footer.ejs") %>
   
</body>
</html>